<!DOCTYPE html>
<html lang="fr" style="height: 100%;">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>z⸱est radio | zone est radio | Une web radio Strasbourgeoise 100% indépendante.</title>
    <meta
      name="description"
      content="z⸱est radio | zone est radio | Une web radio Strasbourgeoise 100% indépendante. z⸱est est une plateforme de rencontre et de diffusion pour les passionnés de musique."
    />
    <meta
      name="keywords"
      content="zest,z⸱est radio,zestradio,zest radio,zoneestradio,zone est,Stream,Strasbourgeoise,Strasbourg,radio,webradio"
    />
  </head>
  <body style="height: 100%;">
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
